* {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  text-align: center;
  position: relative;
}

.card {
  margin: 2em;
  max-width: 20em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  padding: 1em;
  display: inline-block;
  overflow: hidden;
}

img {
  max-width: calc(100% + 2em);
  margin: -1em -1em 0 -1em;
}

p {
  margin: 1em auto;
  max-width: 25ch;
}

h1::after {
  position: absolute;
  bottom: 0;
  left: 25%;
  content: "";
  background: #888;
  width: 50%;
  height: 2px;
}

button {
  border: 1px solid black;
  padding: 0.5em 1em;
  background: none;
  float: right;
  cursor: pointer;
}

button:hover {
  background: #f9f9f9;
}
