.spinner {
  height: 200px;
  width: 200px;
  border: 5px solid teal;
  border-radius: 50em;
  position: relative;
  animation: rotate 3s linear forwards infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 5px solid white;
  border-top: none;
  border-bottom: none;
  border-radius: 50em;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
